<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&family=Lato:ital,wght@0,400;0,700;1,400;1,900&family=Lora:ital,wght@1,400;1,500;1,600&family=Urbanist:wght@100&family=Varela&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <%- include('../layout.ejs') %>
    <section class="orders light-section">
        <div class="container mx-auto pt-12">
            <h1 class="font-bold text-lg mb-4">All orders</h1>
            <table class="w-full table-auto bg-white">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Orders</th>
                        <th class="px-4 py-2 text-left">Customer</th>
                        <th class="px-4 py-2 text-left">Address</th>
                        <th class="px-4 py-2 text-left">status</th>
                        <th class="px-4 py-2 text-left">Placed at</th>
                        <th class="px-4 py-2 text-left">Payment Status</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody">
                </tbody>
            </table>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/admin.js"></script>
</body>
</html>