@import './variable';

body{
    font-family: 'Lato',sans-serif;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}

// nav li a:hover{

// }

nav li a{
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $primary;
    }
}

section.hero{
    background: $secondary;
}
.size{
    background: $secondary;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: 0.3s ease-in-out;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.btn-primary{
    background: $primary;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: 80vh;
    a{
        color: $primary;
    }
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(37, 34, 34);
}